@page {
    margin: 0px;
}
body {
    margin: 0px;
}
* {
    font-family: Verdana, Arial, sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}
table {
    font-size: x-small;
}
tfoot tr td {
    font-weight: bold;
    font-size: x-small;
}
.invoice table {
    margin: 15px;
}
.invoice h3 {
    margin-left: 15px;
}
.information {
    background-color: #393B36;
    color: #000;
}
.information .logo {
    margin: 5px;
}
.information table {
    padding: 10px;
}
.rcorners1 {
    border-radius: 10px;
    background: #ffffff;
    padding: 15px;
    width: 150px;
    height: 150px;
}
.rcorners1 p {
    font-size: 10px;
}
